<div class="tickets-page">

  <!-- HEADER -->

  <div class="tickets-header">

    <div>
      <h1>
        <i class="fa-solid fa-square-parking"></i>
        Control de Tickets
      </h1>

      <p>
        Gestión rápida de ingresos y salidas
      </p>
    </div>

    <button class="btn-create" (click)="openModal()">
      <i class="fa-solid fa-plus"></i>
      Nuevo Ticket
    </button>

  </div>

  <!-- SEARCH PANEL -->

  <div class="search-panel">

    <div class="plate-box">

      <label>PLACA</label>

      <input
        type="text"
        [(ngModel)]="searchPlate"
        placeholder="NKX322"
      />

    </div>

    <div class="total-box">

      <label>TICKETS</label>

      <h2>{{ filteredTickets.length }}</h2>

    </div>

  </div>

  <!-- TABLE -->

  <div class="table-container">

    <table>

      <thead>

        <tr>
          <th>Placa</th>
          <th>Entrada</th>
          <th>Tipo</th>
          <th>Total</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let ticket of filteredTickets">

          <td class="plate" style="text-transform: uppercase;">
            {{ ticket.vehicle }}
          </td>

          <td>
            {{ ticket.checkInAt | date:'dd/MM/yyyy HH:mm' }}
          </td>

          <td>
            {{ ticket.tariff }}
          </td>

          <td>
            ${{ ticket.total | currency:' ':'symbol':'1.0-0' }}
          </td>

          <td>

            <span class="status active">
              {{ ticket.status }}
            </span>

          </td>

          <td class="actions">

            <button class="btn-action">
              <i class="fa-solid fa-print"></i>
            </button>

            <button class="btn-action edit">
              <i class="fa-solid fa-pen"></i>
            </button>

          </td>

        </tr>

      </tbody>

    </table>

  </div>

</div>

<app-ticket-modal
  *ngIf="showModal"
  (close)="closeModal()">
</app-ticket-modal>
