/* NAVBAR */
* {
   margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 18px 40px;
  background: #282189;
  color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

.btn-login {
  background: #36CD77;
  border:  transparent;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: 'Poppins', sans-serif;
  color: rgba(255, 255, 255, 0.849);
  cursor: pointer;
}
.btn-login:hover {
  background: #22c55e;
  scale: 1.05;
}

.nav-link{
  color: white;
  text-decoration: none;
  font-weight: 200;
}
