<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

<div class="modal-overlay">

  <div class="modal">

    <!-- HEADER -->

    <div class="modal-header">

      <div class="header-info">

        <div class="header-icon">
          <i class="fa-solid fa-ticket"></i>
        </div>

        <div>

          <h2>Crear Ticket</h2>

          <p>Registra el ingreso de un vehículo al parqueadero</p>

        </div>

      </div>

      <button class="btn-close" (click)="closeModal()">

        <i class="fa-solid fa-xmark"></i>

      </button>

    </div>

    <!-- BODY -->

    <div class="modal-body">

      <!-- LEFT SIDE -->

      <div class="left-section">

        <div class="form-grid">

          <!-- PLACA -->

          <div class="form-group full">

            <label>

              <i class="fa-solid fa-car-side"></i>

              Placa del vehículo

            </label>

            <input type="text" [(ngModel)]="plate" placeholder="Ej: KCL-425" style="text-transform: uppercase;">

          </div>

          <!-- VEHICULO -->

          <div class="form-group">

            <label>

              <i class="fa-solid fa-car"></i>

              Tipo vehículo

            </label>

            <select [(ngModel)]="selectedVehicleType" (change)="calcularTotal()">

              <option value="Particular">🚗 Particular</option>

              <option value="Motocicleta">🏍️ Motocicleta</option>

            </select>

          </div>


          <div class="form-group">

            <label>

              <i class="fa-solid fa-wallet"></i>
              Tariffa

            </label>

            <input type="text" [value]="total | currency:'COP ':'symbol':'1.0-0'" disabled>

          </div>

          <!-- ENTRADA -->

          <div class="form-group">

            <label>

              <i class="fa-solid fa-clock"></i>

              Hora entrada

            </label>

            <input type="text" [value]="today | date:'dd/MM/yyyy HH:mm'" disabled>

          </div>


        </div>

        <!-- BUTTON -->

        <button class="btn-save" (click)="saveTicket()">

          <i class="fa-solid fa-floppy-disk"></i>

          Guardar Ticket

        </button>

      </div>

      °<!-- RIGHT SIDE

      <div class="right-section">

        <div class="ticket-card">



          <div class="ticket-top">

            <div>

              <span class="ticket-label">
                Ticket Preview
              </span>

              <h3>
                {{ plate || '--- ---' }}
              </h3>

            </div>

            <div class="ticket-status">

              <i class="fa-solid fa-circle"></i>

              Activo

            </div>

          </div>



          <div class="ticket-middle">

            <div class="ticket-item">

              <span>Vehículo</span>

              <strong>
                {{ tariff == 1 ? 'Carro' : 'Moto' }}
              </strong>

            </div>

            <div class="ticket-item">

              <span>Ingreso</span>

              <strong>
                {{ today | date:'shortTime' }}
              </strong>

            </div>

            <div class="ticket-item">

              <span>Estado</span>

              <strong>
                Activo
              </strong>

            </div>

          </div>


          <div class="ticket-bottom">

            <span>Total a pagar</span>

            <h1>

              {{ total | currency:'COP ':'symbol':'1.0-0' }}

            </h1>

          </div>

        </div>

      </div>

    </div>
    -->

  </div>

</div>
