<div class="modal-overlay">

  <div class="modal">

    <div class="modal-header">

      <h2>Crear Ticket</h2>

      <button (click)="closeModal()">X</button>

    </div>

    <div class="form-group">

      <label>Placa</label>

      <input type="text" [(ngModel)]="plate">

    </div>

    <div class="form-group">

      <label>Tarifa</label>

      <select [(ngModel)]="tariff" (change)="calcularTotal()">

        <option value="1">Carro</option>

        <option value="2">Moto</option>

      </select>

    </div>

    <div class="form-group">

      <label>Hora entrada</label>

      <input type="text" [value]="today | date:'short'" disabled>

    </div>
    <div class="form-group">

      <label>Hora salida</label>

      <input type="datetime-local">

    </div>

    <div class="form-group">

      <label>Total</label>

      <input type="text" [value]="total" disabled>

    </div>

    <button class="btn-save" (click)="saveTicket()">
      Guardar ticket
    </button>

  </div>

</div>
