
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<section class="auth">

  <div class="auth-container">

    <!-- IZQUIERDA -->
    <div class="auth-left">
      <a href="">
        <h1 class="logo">Parke<span>OX</span></h1>
      </a>

      <p class="tag">BIENVENIDO</p>

      <h2>
        Gestiona tu parqueadero con
        <span>tecnología inteligente.</span>
      </h2>

      <p class="desc">
        Optimiza ingresos, salidas y disponibilidad en tiempo real.
      </p>

      <div class="icons">
        <img src="assets/img/carro.png" width="50px" alt="">
        <img src="assets/img/barras.png" width="50px" alt="">
        <img src="assets/img/verdadero.png" width="50px" alt="">
      </div>

      <img src="assets/img/hombrePC.png" class="hero-img">
    </div>

    <!-- DERECHA -->
    <div class="auth-right">

      <h2>Iniciar sesión</h2>
      <p class="sub">Ingresa tus credenciales</p>

      <form (ngSubmit)="login()">

        <div class="input-group">
          <i class="fas fa-envelope"></i>
          <input type="email" placeholder="Correo electrónico" [(ngModel)]="email" name="email">
        </div>

        <div class="input-group">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password">
        </div>

        <div class="options">
          <label>
            <input type="checkbox"> Recordarme
          </label>
          <a href="#">¿Olvidaste tu contraseña?</a>

        </div>

        <button type="submit" (click)="login()" class="btn-primary">Ingresar</button>


        <p class="switch">
          ¿No tienes cuenta?
          <a routerLink="/register">Regístrate</a>
        </p>

      </form>
    </div>

  </div>

</section>
