<footer class="footer">
  <div class="footer-container">

    <div class="footer-brand">
      <h2>Parke<span>OX</span></h2>
      <p>Gestión inteligente de parqueaderos en tiempo real.</p>
    </div>

    <div class="footer-links">
      <h4>Enlaces</h4>
      <a routerLink="/">Inicio</a>
      <a routerLink="/login">Login</a>
      <a href="#">Servicios</a>
    </div>

    <div class="footer-contact">
      <h4>Contacto</h4>
      <p>📧 {{ 'alejoreyvm@gmail.com' }}</p>
      <p>📞 +57 314 2822521</p>
    </div>

    <div class="footer-social">
      <h4>Síguenos</h4>
      <div class="icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 ParkeoX - Todos los derechos reservados</p>
  </div>
</footer>
