* {
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}
.tag{
  color: #33BA71;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.grande{
  font-size: 2rem;
}
/* HERO */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  background: #282189;
  color: white;
  padding: 10px 100px 70px;
  min-height: 30vh;;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width:1600px;
}

.hero-text {
  max-width: 600px;
}


.hero-text h1 {
  font-size: 2.8rem;
  margin: 15px 0;
}

.hero-text p {
  margin-bottom: 20px;
}

.hero-img  {

    min-width: 538px;
    width: 35%;
    border-radius: 15px;

}


/* BOTONES */
.buttons {
  display: flex;
  gap: 15px;
}

.btn-primary {
  background: #22c55e;
  border: none;
  padding: 12px 20px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.btn-outline {
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
}

/* HERO CARDS */
.cards-section{
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 200px;
  margin-bottom: 100px;
}

.hero-cards {
  position: absolute;
  top: -100px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;

}

.card {
  background: white;
  color: #0f172a;
  padding: 25px;
  border-radius: 15px;
  width: 25%;
  height: 290px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card img {
  height: 80px;
  width: 90px;
  font-size: 30px;
  color: #22c55e;
  margin-bottom: 10px;
}
.card .gris{
  color: #64748b;
}

/* BRANDS */
/* BRANDS */
.brands {
  background: #f8fafc;
  padding: 50px 0;
  text-align: center;
}
.slider {
  overflow: hidden;
  width: 100%;
}

.slide-track {
  display: flex;
  animation: scroll 25s linear infinite;
}

/* 🔥 TAMAÑO FIJO (IMPORTANTE) */
.slide {
  width: 300px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.slide img {
  width: 120px;
  opacity: 0.7;
  filter: grayscale(100%);
  transition: 0.3s;
}

/* 🔥 AQUÍ ESTÁ LA CLAVE REAL */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px); /* 👈 AJUSTAR */
  }
}



/* ABOUT */
.about {
  padding: 80px 40px;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.about-text {
  max-width: 500px;
}

.about-img img {
  width: 350px;
  border-radius: 15px;
}

/* FEATURES */
.features {
  margin-top: 50px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  border: 1px solid beige;
}

.feature {
  background: #f1f5f9;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

.feature.active {
  background: #312e81;
  color: white;
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-around;
  padding: 60px;
  background: #f8fafc;
  flex-wrap: wrap;
}

.stat h3 {
  color: #22c55e;
  font-size: 2rem;
}


